<% (@alerts || []).each do |alert| %>

    <% case alert.news_type %>
        <% when "new prescription" %>
          <% unless suppress_prescription_alert %>
            <a class="list-group-item">
              <table style="width: 100%">
                <tr>
                  <td><img src="/assets/dispense_small.png"></td>
                  <td valign="middle" style="font-size: 115%;color: black">New Prescription<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></td>
                  <td valign="top" style="margin-top: -10px;margin-right:-15px; float: right">
                    <a href="#" data-href="/ignore_message/<%= alert.id %>" data-toggle="modal" class="ignore" data-target="#confirm-delete">
                      <img src="/assets/close.png" style="cursor: pointer" title="Ignore alert">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p class="list-group-item-text"><%= alert.message %></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align:center;padding-top: 2px;">
                    <a style="width: 60%;"  href="/prescription/<%= alert.refers_to %>" class="btn btn-xs btn-success" type="button">Dispense</a>
                  </td>
                </tr>
              </table>
            </a>
          <% end %>
        <% when "low pmap stock" %>

            <a class="list-group-item" id="<%= alert.refers_to %>">
              <table style="width: 100%">
                <tr>
                  <td><img src="/assets/pmap.png"></td>
                  <td valign="middle" style="font-size: 115%;color: black">PMAP: Low Inventory</td>
                  <td valign="top" style="margin-top: -10px;margin-right:-15px; float: right">
                    <a href="#" data-href="/ignore_message/<%= alert.id %>" data-toggle="modal" class="ignore" data-target="#confirm-delete">
                      <img src="/assets/close.png" style="cursor: pointer" title="Ignore alert">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p class="list-group-item-text"><%= alert.message %></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align:center;padding-top: 2px;">
                    <a href="/alert_to_activity_sheet/<%= alert.id %>" class="btn btn-xs btn-primary" type="button" >Add to Activity Sheet</a>
                  </td>
                </tr>
              </table>
            </a>

        <% when "low general stock" %>
        <a class="list-group-item" id="<%= alert.refers_to %>">
          <table style="width: 100%">
            <tr>
              <td><img src="/assets/general_inventory_small.png"></td>
              <td valign="middle" style="font-size: 115%;color: black">General: Low Inventory</td>
              <td valign="top" style="margin-top: -10px;margin-right:-15px; float: right">
                <a href="#" data-href="/ignore_message/<%= alert.id %>" data-toggle="modal" class="ignore" data-target="#confirm-delete">
                  <img src="/assets/close.png" style="cursor: pointer" title="Ignore alert">
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="3" >
                <p class="list-group-item-text"><%= alert.message %></p>
              </td>
            </tr>
            <tr>
              <td colspan="3" style="text-align:center;padding-top: 2px;">
                <a href="/alert_to_activity_sheet/<%= alert.id %>" class="btn btn-xs btn-primary" type="button">Add to Activity Sheet</a>
              </td>
            </tr>
          </table>
        </a>

        <% when "expiring item" %>
          <% unless suppress_expiry_alert %>
            <a class="list-group-item">
              <table style="width: 100%">
                <tr>
                  <td><img src="/assets/expiring.png"></td>
                  <td valign="middle" style="font-size: 115%;color: black">Item about to expire</td>
                  <td valign="top" style="margin-top: -10px;margin-right:-15px; float: right">
                    <a href="#" data-href="/ignore_message/<%= alert.id %>" data-toggle="modal" class="ignore" data-target="#confirm-delete">
                      <img src="/assets/close.png" style="cursor: pointer" title="Ignore alert">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p class="list-group-item-text"><%= alert.message %></p>
                  </td>
                </tr>
              </table>
            </a>
          <% end %>

        <% when "expired item" %>
        <a class="list-group-item">
          <table style="width: 100%">
            <tr>
              <td><img src="/assets/expired.png"></td>
              <td valign="middle" style="font-size: 115%;color: black">Item has expired</td>
              <td valign="top" style="margin-top: -10px;margin-right:-15px; float: right">
                <a href="#" data-href="/ignore_message/<%= alert.id %>" data-toggle="modal" class="ignore" data-target="#confirm-delete">
                  <img src="/assets/close.png" style="cursor: pointer" title="Ignore alert">
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <p class="list-group-item-text"><%= alert.message %></p>
              </td>
            </tr>
            <tr>
              <td colspan="3" style="text-align:center;padding-top: 2px;">
                <a href="#" data-href="/void_item/<%= alert.refers_to%>" style="width:60%;"
                   class="btn btn-xs btn-danger" data-toggle="modal" data-target="#confirm-move">Void</a>
              </td>
            </tr>
          </table>
        </a>
        <% when "under utilized item" %>
          <% unless suppress_pmap_alert %>
            <a class="list-group-item">
              <table style="width: 100%">
                <tr>
                  <td><img src="/assets/move.png"></td>
                  <td valign="middle" style="font-size: 115%;color: black">Unutilized PMAP Item</td>
                  <td valign="top" style="margin-top: -10px;margin-right:-15px; float: right">
                    <a href="#" data-href="/ignore_message/<%= alert.id %>" data-toggle="modal" class="ignore" data-target="#confirm-delete">
                      <img src="/assets/close.png" style="cursor: pointer" title="Ignore alert">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p class="list-group-item-text"><%= alert.message %></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align:center;padding-top: 2px;">
                    <a href="#" data-href="/move_item/<%= alert.refers_to%>" style="width:60%;"
                       class="btn btn-xs btn-success" data-toggle="modal" data-target="#confirm-move">
                      Transfer Item</a>
                  </td>
                </tr>
              </table>
            </a>
          <% end %>
    <% end %>
<% end %>

<div class="modal fade" id="confirm-move" tabindex="-1" role="dialog" aria-labelledby="moveItem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style=" font-size: 20px;" class="panel-title" id="title">Move Item to General Inventory</h3>
      </div>
      <div class="modal-body" id="message">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <a class="btn btn-danger btn-ok" id="btnMove">Yes</a>
      </div>
    </div>
  </div>
</div>

<%  %>
<script type="text/javascript">
    $('.ignore').on('click', function(e) {
        document.getElementById('btnIgnore').href = $(this).data('href');
    });

    $(".btn.btn-xs.btn-success").on('click', function(e) {
        document.getElementById('title').innerHTML = "Move Item to General Inventory"
        document.getElementById('message').innerHTML = "Are you sure you want to move this item to <strong>General Inventory</strong>?"
        document.getElementById('btnMove').href = $(this).data('href');
    });

    $(".btn.btn-xs.btn-danger").on('click', function(e) {
        document.getElementById('title').innerHTML = "Discard Expired Item"
        document.getElementById('message').innerHTML = "Are you sure you want to discard this item?"
        document.getElementById('btnMove').href = $(this).data('href');
    });
</script>