<%- model_class = GeneralInventory -%>
<%= javascript_include_tag 'jquery-1.12.0.min.js' %>
<%= javascript_include_tag 'jquery-ui.min.js' %>
<%= stylesheet_link_tag    'jquery-ui', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-header" style="margin: 0px !important;padding: 0px !important;">
  <h3><%=t '.title', :default => 'General Inventory: Expired Items'.titleize %></h3>
</div>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-12">
    <table id="expiredItems" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Item</th>
        <th >Item Identifier</th>
        <th >Lot Number</th>
        <th >Date Received</th>
        <th >Expiration Date</th>
        <th >Quantity</th>
        <th >Action</th>
      </tr>
      </thead>

      <tbody>

      <% (@expired || []).each do |item| %>
          <tr>
            <td><%= item["drug_name"] %></td>
            <td><%= Misc.dash_formatter(item['bottle_id']) %></td>
            <td><%= Misc.dash_formatter(item['lot_number']) %></td>
            <td><%= item['date_received'] %></td>
            <td><%= item['expiry_date'] %></td>
            <td><%= number_with_delimiter(item['quantity']) %></td>
            <td>
              <a href="#" data-id=<%= item['bottle_id'] %> data-toggle="modal" data-target="#confirm-delete" class="delete"><img src="/assets/delete.png" title="Void Item"></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style=" font-size: 20px;" class="panel-title">Delete Item from Inventory</h3>
      </div>
      <div class="modal-body">
        <%= form_for :general_inventory, :html => { :class => "form-horizontal general_inventory" }, :url => "/void_general_inventory"  do |f| %>

            Select reason for deleting item
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="control-label col-lg-6" style="text-align: left;padding-top: 2px;margin-left: 25px;">
                <label><input type="radio" name="general_inventory[reason]" value="Medication has expired" required>Medication has expired</label>
              </div>
              <div class="control-label col-lg-3">
                &nbsp;
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="control-label col-lg-6" style="text-align: left;padding-top: 2px;margin-left: 25px;">
                <label><input type="radio" name="general_inventory[reason]" value="Clerical error made when adding item" required>Clerical error made when adding item</label>
              </div>
              <div class="control-label col-lg-3">
                &nbsp;
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="control-label col-lg-6" style="text-align: left;margin-left: 25px;">
                <label><input type="radio" name="general_inventory[reason]" value="Other" required>Other</label>
              </div>
              <div class="control-label col-lg-3">
                &nbsp;
              </div>
            </div>
            <%= f.hidden_field :gn_id %>
            <div class="form-group" style="margin-top: 10px;">
              <div class="col-lg-offset-3 col-lg-5">
                <%= f.submit "Save", :class => 'btn btn-success' %>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('.delete').on('click', function(e) {
        document.getElementById('general_inventory_gn_id').value = $(this).data('id');
    });

    // Styling the table with datatables library
    $(document).ready(function() {
        $('#expiredItems').DataTable({"bLengthChange": false});
    } );

</script>