<%- model_class = GeneralInventory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:gn_inventory_id) %></th>
      <th><%= model_class.human_attribute_name(:rxcui) %></th>
      <th><%= model_class.human_attribute_name(:lot_number) %></th>
      <th><%= model_class.human_attribute_name(:expiration_date) %></th>
      <th><%= model_class.human_attribute_name(:current_stock) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% (@general_inventories || []).each do |general_inventory| %>
      <tr>
        <td><%= link_to general_inventory.id, general_inventory_path(general_inventory) %></td>
        <td><%= general_inventory.gn_inventory_id %></td>
        <td><%= general_inventory.rxcui %></td>
        <td><%= general_inventory.lot_number %></td>
        <td><%= general_inventory.expiration_date %></td>
        <td><%= general_inventory.current_stock %></td>
        <td><%=l general_inventory.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_general_inventory_path(general_inventory), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      general_inventory_path(general_inventory),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_general_inventory_path,
            :class => 'btn btn-primary' %>
