<%- model_class = GeneralInventory -%>
<%= javascript_include_tag 'jquery-1.12.0.min.js' %>
<%= javascript_include_tag 'jquery.dataTables.min.js' %>
<%= javascript_include_tag 'dataTables.bootstrap4.min.js' %>


<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-9">
    <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Item</th>
        <th>Item Identifier</th>
        <th>Lot Number</th>
        <th>Received Quantity</th>
        <th>Current Quantity</th>
        <th>Date Received</th>
        <th>Expiration Date</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>

        <% (1..20).each do |item| %>
            <tr>
              <td>Paracetamol</td>
              <td>GN-<%= "#{item}".rjust(5,"0") %></td>
              <td><%= (0...5).map { (65 + rand(26)).chr }.join %></td>
              <td><%= rand(20000) %></td>
              <td><%= rand(20) %></td>
              <td><%= Time.now.advance(:weeks => (rand(300)*-1)).strftime('%b-%d-%Y')%></td>
              <td><%= Time.now.advance(:days => (rand(9000))).strftime('%b-%d-%Y') %></td>
              <td></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="col-xs-4 col-sm-3 sidebar-offcanvas" id="sidebar" >
    <div class="panel panel-info" >
      <div class="panel-heading">
        <h3 style=" font-size: 20px;" class="panel-title">Stock Summary</h3>
      </div>
      <div class="panel-body">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Items in Stock</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Under Stocked Items</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Items About to Expire</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Expired Items</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
      </div>
    </div>

    <%= link_to "Add Item",
                new_general_inventory_path,
                :class => 'btn btn-lg btn-primary' %>
  </div>
</div><!--/.sidebar-offcanvas-->
</div>

<script type="text/javascript">

    // Styling the table with datatables library
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
