<%- model_class = PmapInventory -%>
<%= javascript_include_tag 'jquery-1.12.0.min.js' %>

<div class="page-header" style="margin: 0px !important;padding: 0px !important;">
  <h3><%=t '.title', :default => "PMAP Inventory" %></h3>
</div>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-10">
    <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Item</th>
        <th style="width: 10%;">Item Identifier</th>
        <th>Patient</th>
        <th style="width: 10%;">Lot Number</th>
        <th style="width: 7.5%;">Current Quantity</th>
        <th style="width: 5%;">Expiration Date</th>
        <th style="width: 12.5%;">Actions</th>
      </tr>
      </thead>

      <tbody>

      <% (@inventory || []).each do |item| %>
          <tr>
            <td><%= item.rxnconso.name.downcase.titleize %></td>
            <td><%= Misc.dash_formatter(item.pap_identifier) %></td>
            <td><%= item.patient_name %></td>
            <td><%= Misc.dash_formatter(item.lot_number) %></td>
            <td><%= item.current_quantity %></td>
            <td><%= item.expiration_date.strftime('%b-%Y') %></td>
            <td>
              <img style="padding-right: 5px;" src="/assets/edit.png" title="Edit Item">
              <img style="padding-right: 5px;" src="/assets/print.png" onmousedown="window.location='/print_bottle_barcode/<%= item.pap_identifier %>'" title="Print Barcode">
              <a href="#" data-href="/move_pap_inventory/<%= item.pap_identifier%>" data-toggle="modal" data-target="#confirm-move" class="moveItem"><img src="/assets/move.png" title="Move Item to general inventory"></a>
              <a href="#" data-href="/void_pap_inventory/<%= item.pap_identifier%>" data-toggle="modal" data-target="#confirm-delete" class="delete"><img src="/assets/delete.png" title="Void Item"></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar" >
    <div class="panel panel-info" >
      <div class="panel-heading">
        <h3 style=" font-size: 20px;" class="panel-title">Stock Summary</h3>
      </div>
      <div class="panel-body">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Item Count</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Re-orders</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">About to Expire</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Expired</h4>
          <p class="list-group-item-text"> <%= 0 %></p>
        </a>
      </div>
    </div>

    <%= link_to "Add Item",
                new_general_inventory_path,
                :class => 'btn btn-lg btn-primary' %>
  </div>

</div><!--/.sidebar-offcanvas-->
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style=" font-size: 20px;" class="panel-title">Delete Item from Inventory</h3>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <a class="btn btn-danger btn-ok" id="btnYes">Yes</a>
      </div>
    </div>
  </div>
</div>

<% if !flash[:errors].blank? || !flash[:success].blank? %>

    <div class="modal show" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <% if !flash[:errors].blank? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">Entry could not be saved due to :</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% flash[:errors].keys.each do |attribute| %>
                          <% flash[:errors][attribute].uniq.each do |msg| %>
                              <li><%= attribute.gsub('_', ' ') %> <%= msg %></li>
                          <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% else %>
                <div class="alert alert-success" role="alert">
                  <strong><%= flash[:success] %></strong>
                </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick = "$('#errorModal').removeClass('show')">Close</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">

    // Styling the table with datatables library
    $(document).ready(function() {
        $('#example').DataTable({"bLengthChange": false});
    } );

    $('.delete').on('click', function(e) {
        $('#btnYes').attr('href',$(this).data('href'));
    });
</script>
