<%= javascript_include_tag 'jquery-1.12.0.min.js' %>
<%= javascript_include_tag 'jquery-ui.min.js' %>
<%= stylesheet_link_tag    'jquery-ui', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-header" style="margin: 0px !important;padding: 0px !important;">
  <div style="display: table">
    <div style="display: table-row">
      <div style="display: table-cell" class="dropdown">
        <a href="#menu" class="box-shadow-menu">
        </a>
        <div class="dropdown-content">
          <p><a href="/pmap_inventory" class="links">PMAP Inventory</a></p>
          <p><a href="/expired_pmap_items" class="links">Expired Items</a></p>
          <p><a href="/pmap_inventory/about_to_expire" class="links">Items About to Expire</a></p>
        </div>
      </div>
      <div style="display: table-cell">
        <h3><%=t '.title', :default => 'PMAP Inventory: Under Utilized Items'.titleize %></h3>
      </div>
    </div>
  </div>
</div>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-12">
    <table id="pmapMeds" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>Item</th>
        <th style="width: 10%;">Item Identifier</th>
        <th>Patient</th>
        <th style="width: 10%;">Lot Number</th>
        <th style="width: 7.5%;">Current Quantity</th>
        <th style="width: 5%;">Expiration Date</th>
        <th style="width: 12.5%;">Actions</th>
      </tr>
      </thead>

      <tbody>

      <% (@inventory || []).each do |item| %>
          <tr>

            <td id="name<%=item[6] %>"><%= @items[item[0]].downcase.titleize rescue "" %></td>
            <td><%= Misc.dash_formatter(item[5]) %></td>
            <td id="pat<%=item[6] %>"><%= @patients[item[1]].titleize %></td>
            <td id="lot<%=item[6] %>"><%= Misc.dash_formatter(item[2]) %></td>
            <td><%= item[3] %></td>
            <td id="exp<%=item[6] %>"><%= item[4].strftime('%b-%Y') %></td>
            <td style="text-align: center;">
              <a href="#" data-href="/move_pmap_inventory/<%= item[5]%>" data-toggle="modal" data-target="#confirm-move" class="moveItem"><img src="/assets/move.png" title="Move Item to general inventory"></a>
              <a href="#" data-id=<%= item[5]%> data-toggle="modal" data-target="#confirm-delete" class="delete"><img src="/assets/delete.png" title="Void Item"></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style=" font-size: 20px;" class="panel-title">Delete Item from Inventory</h3>
      </div>
      <div class="modal-body">
        <%= form_for :pmap_inventory, :html => { :class => "form-horizontal general_inventory" }, :url => "/void_pmap_inventory"  do |f| %>

            Select reason for deleting item
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="control-label col-lg-6" style="text-align: left;padding-top: 2px;margin-left: 25px;">
                <label><input type="radio" name="pmap_inventory[reason]" value="Medication has expired" required>Medication has expired</label>
              </div>
              <div class="control-label col-lg-3">
                &nbsp;
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="control-label col-lg-6" style="text-align: left;padding-top: 2px;margin-left: 25px;">
                <label><input type="radio" name="pmap_inventory[reason]" value="Clerical error made when adding item" required>Clerical error made when adding item</label>
              </div>
              <div class="control-label col-lg-3">
                &nbsp;
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
              <div class="control-label col-lg-6" style="text-align: left;margin-left: 25px;">
                <label><input type="radio" name="pmap_inventory[reason]" value="Other" required>Other</label>
              </div>
              <div class="control-label col-lg-3">
                &nbsp;
              </div>
            </div>
            <%= f.hidden_field :pmap_id %>
            <div class="form-group" style="margin-top: 10px;">
              <div class="col-lg-offset-3 col-lg-5">
                <%= f.submit "Save", :class => 'btn btn-success' %>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-move" tabindex="-1" role="dialog" aria-labelledby="moveItem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style=" font-size: 20px;" class="panel-title">Move Item to General Inventory</h3>
      </div>
      <div class="modal-body">
        Are you sure you want to move this item to <strong>General Inventory</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <a class="btn btn-danger btn-ok" id="btnMove">Yes</a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.delete').on('click', function(e) {
    document.getElementById('pmap_inventory_pmap_id').value = $(this).data('id');
  });

  // Styling the table with datatables library
  $(document).ready(function() {
    $.fn.dataTable.moment( 'MMM-YYYY' );
    $('#pmapMeds').DataTable({"bLengthChange": false, "bDestroy": true});
  } );

</script>